<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mygateproject</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMemberController</display-name>
    <servlet-name>AddMemberController</servlet-name>
    <servlet-class>com.controller.AddMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMemberController</servlet-name>
    <url-pattern>/AddMemberController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AddMemberFilter</filter-name>
    <filter-class>com.filter.AddMemberFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddMemberFilter</filter-name>
    <url-pattern>/AddMemberController</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserController</display-name>
    <servlet-name>ListUserController</servlet-name>
    <servlet-class>com.controller.ListUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserController</servlet-name>
    <url-pattern>/ListUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveController</display-name>
    <servlet-name>ApproveController</servlet-name>
    <servlet-class>com.controller.ApproveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveController</servlet-name>
    <url-pattern>/ApproveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHouseDetailsController</display-name>
    <servlet-name>AddHouseDetailsController</servlet-name>
    <servlet-class>com.controller.AddHouseDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHouseDetailsController</servlet-name>
    <url-pattern>/AddHouseDetailsController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AddHouseDetailsFilter</filter-name>
    <filter-class>com.filter.AddHouseDetailsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddHouseDetailsFilter</filter-name>
    <url-pattern>/AddHouseDetailsController</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ListHouseDetailsController</display-name>
    <servlet-name>ListHouseDetailsController</servlet-name>
    <servlet-class>com.controller.ListHouseDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHouseDetailsController</servlet-name>
    <url-pattern>/ListHouseDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMembersController</display-name>
    <servlet-name>ListMembersController</servlet-name>
    <servlet-class>com.controller.ListMembersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMembersController</servlet-name>
    <url-pattern>/ListMembersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListInstructionController</display-name>
    <servlet-name>ListInstructionController</servlet-name>
    <servlet-class>com.controller.ListInstructionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInstructionController</servlet-name>
    <url-pattern>/ListInstructionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInstructionController</display-name>
    <servlet-name>AddInstructionController</servlet-name>
    <servlet-class>com.controller.AddInstructionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInstructionController</servlet-name>
    <url-pattern>/AddInstructionController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AddInstructionFilter</filter-name>
    <filter-class>com.filter.AddInstructionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddInstructionFilter</filter-name>
    <url-pattern>/AddInstructionController</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddSecurityController</display-name>
    <servlet-name>AddSecurityController</servlet-name>
    <servlet-class>com.controller.AddSecurityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSecurityController</servlet-name>
    <url-pattern>/AddSecurityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSecurityDetailController</display-name>
    <servlet-name>ListSecurityDetailController</servlet-name>
    <servlet-class>com.controller.ListSecurityDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSecurityDetailController</servlet-name>
    <url-pattern>/ListSecurityDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHouseDetailController</display-name>
    <servlet-name>DeleteHouseDetailController</servlet-name>
    <servlet-class>com.controller.DeleteHouseDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHouseDetailController</servlet-name>
    <url-pattern>/DeleteHouseDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMemberController</display-name>
    <servlet-name>DeleteMemberController</servlet-name>
    <servlet-class>com.controller.DeleteMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMemberController</servlet-name>
    <url-pattern>/DeleteMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListInstructionForUser</display-name>
    <servlet-name>ListInstructionForUser</servlet-name>
    <servlet-class>com.controller.ListInstructionForUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInstructionForUser</servlet-name>
    <url-pattern>/ListInstructionForUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInstructionForUserController</display-name>
    <servlet-name>DeleteInstructionForUserController</servlet-name>
    <servlet-class>com.controller.DeleteInstructionForUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInstructionForUserController</servlet-name>
    <url-pattern>/DeleteInstructionForUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordController</display-name>
    <servlet-name>ForgetPasswordController</servlet-name>
    <servlet-class>com.controller.ForgetPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordController</servlet-name>
    <url-pattern>/ForgetPasswordController</url-pattern>
  </servlet-mapping>
</web-app>